body
{
    background-color: black;
}

.titulo
{
    color: white;
    font-size: 40px;
    margin-left: 35%;
}

.lista
{
   color: white; 
   font-size: 20px;
   margin-left: 43%;
   margin-left: 43%;
}